<ion-header>
  <ion-toolbar>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      Hola desde ESAT
    </ion-item>
    <ion-item>
      Desde el curso Angular + Ionic
    </ion-item>
    <ion-item>
      Aprendiendo Ionic
    </ion-item>
  </ion-list>


  <ion-footer-bar keyboard-attach class="bar-dark item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Escribir mensaje">
    </label>
    <button class="button button-clear">Enviar</button>
  </ion-footer-bar>
</ion-content>



