<ion-header>
  <ion-toolbar>
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-row>
      <ion-card  class="card card-photo" style="width: 40%;" *ngFor="let photo of photos"
      (click)="selectedCart(photo._id)">
        <ion-img [src]="'http://localhost:4000/' + photo.imagePath" class="img-card-top w-100"></ion-img>
           <ion-card-header>
             <ion-card-title> {{photo.title}}</ion-card-title>
             <ion-card-subtitle>{{photo.description}}</ion-card-subtitle>
           </ion-card-header>
           <ion-button  [routerLink]="['/preview']" expand="block" color="primary">card</ion-button>   
       </ion-card> 
     </ion-row>
  
 
</ion-content>
