    <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/chat">></ion-back-button>
    </ion-buttons>
    <ion-title>Melvin</ion-title>
  </ion-toolbar>


<ion-content>
  <ion-card class="right">
    <ion-card-content>
      My message
      <div class="ion-text-end">
        <span>
          left
        </span>
        <span>
          2:50
        </span>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      My message
    </ion-card-content>
  </ion-card>
  <ion-card class="right">
    <ion-card-content>
      My message
    </ion-card-content>
  </ion-card>
  <ion-item class="bottom">
    <ion-input></ion-input>
    <ion-icon name="send" item-right></ion-icon>
  </ion-item>
</ion-content>
