
  <ion-toolbar> 
    <ion-title>Home product</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" defaultHref="/home"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

<ion-content fullscreen>
  <div class="ion-padding">
    <ion-card class="ion-padding">
      <ion-row>
        <ion-card class="card card-photo" style="width: 40%;" *ngFor="let product of products">
           <ion-img [src]=""></ion-img>
           <ion-card-header>
             <ion-card-title>{{product.category}}</ion-card-title> </ion-card-header>
              <ion-card-subtitle>{{product.description}}</ion-card-subtitle>
            </ion-card>
      </ion-row>
    </ion-card>
  </div>
</ion-content>