<ion-header>
  <ion-toolbar>
    <ion-title>admin-dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_class">
  
 <div class="flex">
   <ion-card class="ion-padding">
      <ion-card class="cart_blue">
        <ion-item lines="none" color="primary">
          <ion-icon name="cafe" slot="start"></ion-icon>
          <ion-icon name="more" slot="end"></ion-icon>
        </ion-item>
        <ion-item lines="none" color="primary">
          <ion-label>
            ion-item in a card,
          </ion-label>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item lines="none" color="secundary">
          <ion-icon name="cafe" slot="start"></ion-icon>
          <ion-icon name="more" slot="end"></ion-icon>
        </ion-item>
        <ion-item lines="none" color="secundary">
          <ion-label>
            ion-item           </ion-label>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item lines="none" color="tertiary">
          <ion-icon name="cafe" slot="start"></ion-icon>
          <ion-icon name="more" slot="end"></ion-icon>
        </ion-item>
        <ion-item lines="none" color="tertiary">
          <ion-label>
            ion-item 
          </ion-label>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item lines="none" color="warning">
          <ion-icon name="cafe" slot="start"></ion-icon>
          <ion-icon name="more" slot="end"></ion-icon>
        </ion-item>
        <ion-item lines="none" color="warning">
          <ion-label>
            ion-item
          </ion-label>
        </ion-item>
      </ion-card>

   </ion-card>
 </div>
</ion-content>
