
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>


<ion-content fullscreen>
  <div class="ion-padding">
    <ion-card class="ion-padding">
      <form>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" required></ion-input>
        </ion-item>
    
        <ion-row>
          <ion-col>
            <ion-button shape="round" type="submit" color="danger" expand="block">Send</ion-button>
          </ion-col>
        </ion-row>
    
        <small>
          Please provide the username or email address that you used when you signed
          up for your Evernote account.
        </small>
      </form>
    </ion-card>
  </div>
 
</ion-content>
