//gogle.fonts
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

ion-content {
    ion-card {
        margin-top: 150px;
        border-radius: 28px;
        text-align: left;
        --color: #fff;

        ion-card-content{
            h2{
                font-size: 54px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            ion-button {
                --color: #222;
                --box-shadow: none;
            }
        }
    }
}

.card1 {
    background: linear-gradient(160deg, rgba(127,183,255,1) 0%,
                                        rgba(127,183,255,1) 50%,
                                        rgba(117,50,218,1) 100%);
  
    ion-button {
        --background: linear-gradient(90deg, rgba(127,183,255,1) 0%,
                                             rgba(255,255,255,1) 50%,
                                             rgba(255,255,255,1) 100%);
    }
}

.card2 {
    background: linear-gradient(45deg, rgba(39,87,204,1) 0%,
                                        rgba(99,170,219,1) 50%,
                                        rgba(153,203,237,1) 100%);
  
    ion-button {
        --background: linear-gradient(90deg, rgba(153,203,237,1) 0%,
                                             rgba(255,255,255,1) 50%,
                                             rgba(255,255,255,1) 100%);
    }
}



ion-card, ion-button, ion-title {
    font-family: 'Staatliches';
    letter-spacing: 1px;
    word-spacing: 2px;
}