

<ion-content fullscreen>
  <ion-slides pager="false">
    <ion-slide class="ion-padding">
      <ion-card class="ion-padding card1">
        <h2>Hello</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Ab quam enim veniam voluptate inventore quo doloribus 
          illum numquam voluptatum quae? Quia quasi dolore sapiente 
          nemo nesciunt a quibusdam deleniti blanditiis.
        </p>
        <br>
        <ion-button shape="round" expand="block">CONTINUAR</ion-button>
      </ion-card>
    </ion-slide>
    <ion-slide class="ion-padding">
      <ion-card class="ion-padding card2">
        <h2>Hello</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Ab quam enim veniam voluptate inventore quo doloribus 
          illum numquam voluptatum quae? Quia quasi dolore sapiente 
          nemo nesciunt a quibusdam deleniti blanditiis.
        </p>
        <br>
        <ion-button shape="round" expand="block" routerLink="/homeuser">CONTINUAR</ion-button>
      </ion-card>
    </ion-slide>
  </ion-slides>
  
</ion-content>
